
/* General footer styling */
footer {
  font-size: 14px;
}

/* Fullscreen Navbar on Mobile */
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9); /* Dark background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1050; /* Ensure it stays on top */
    transform: translateY(-100%); /* Initially hidden */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

  .navbar-collapse.show {
    transform: translateY(0); /* Show when active */
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-link, .btn {
    font-size: 1.5rem;
    padding: 10px 20px;
  }

  .navbar-toggler {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2000;
  }
}




/* navbar.component.css */

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .bg-blue-900 {
  background-color: #1a1a1a;
}

.dark-mode .text-white {
  color: #ccc;
}

.dark-mode a {
  color: #ddd;
}

.dark-mode .hover\:bg-gray-700:hover {
  background-color: #444;
}

.dark-mode .hover\:bg-gray-200:hover {
  background-color: #555;
}

/* Add other dark mode specific styles here */