<div class="lg:w-5/12 mt-8 p-10 shadow-lg mx-auto">
  <h3 class="text-3xl text-center text-red-500 font-bold py-3">Forget Password</h3>
  <form [formGroup]="forgetForm" class="flex flex-col">
    <span class="mb-3"
      >Enter your registered email and we'll send you a link to reset your
      password.</span
    >

    <div class="flex flex-col mt-3 mb-3">
      <input
        formControlName="email"
        class="p-2 border border-gray-300 rounded w-full"
        type="email"
        placeholder="Email your email..."
      />
      <span
        *ngIf="
          forgetForm.controls['email'].invalid &&
          forgetForm.controls['email'].dirty
        "
        class="text-red-500"
      >
        *Valid email is required
      </span>
    </div>

    <button
      (click)="submit()"
      [disabled]="forgetForm.invalid"
      class="bg-indigo-500 w-full p-2 rounded-md text-white"
    >
      Reset Password
    </button>

    <p
      routerLink="/login"
      class="text-center text-blue-500 cursor-pointer mt-4"
    >
      Back to Login
    </p>
  </form>
</div>
